<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="#" [routerLink]="['/']">Home</a></li>
  <li class="breadcrumb-item active">User Profile</li>
</ol>

<div class="mainContainer">
  <div class="jumbotron">

    <div class="col-md-12 row">
      <div class="col-md-3 text-center">
        <img [src]="userProfile.profileImage" style="width:200px" /><br />
        <a [routerLink]="['/userprofile', userId, 'edit']" href="#">Edit Profile</a>
      </div>
      <div class="col-md-9">
        <h1>{{user.firstName}}</h1>
      </div>
    </div>
  </div>
</div>

