<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="#" [routerLink]="['/']">Home</a></li>
  <li class="breadcrumb-item active">User Profile</li>
</ol>

<div *ngIf="!loading" class="mainContainer">
  <div class="jumbotron">
    <div class="col-md-12 row">
      <div class="col-md-3 text-center">
        <img *ngIf="!loading" [src]="userProfile.profileImage" style="width:200px" /><br />
        <a [routerLink]="['/userprofile', userId, 'edit']" href="#">Edit Profile</a>
      </div>
      <div class="col-md-9">
        <h1>{{userProfile.firstName}} <span *ngIf="userProfile.lastName">{{userProfile.lastName}}</span></h1>
        <span *ngIf="userProfile.nickName"><h2>{{userProfile.nickName}}</h2></span><br />
        <span *ngIf="userProfile.about"><p>{{userProfile.about}}</p></span>
      </div>

    </div>
  </div>
</div>

