<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/']">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/weather']">Weather</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/radar']">Radar</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/about']">About</a>
      </li>
    </ul>
  </div>
</nav>
<div *ngIf="!loading" class="mainContainer">
  <div class="jumbotron">
    <h1 class="display-3">MEAN Weather</h1>
    <p class="lead">This is a simple demo of using a Node.js api to fetch weather by zipcode or city utilizing the <a target="_blank" href="https://www.metaweather.com">MetaWeather.com</a> free API.</p>
    <hr class="my-4">
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/weather"  role="button">Check Weather</a>
    </p>
  </div>
</div>
