
<div class="mainContent" style="margin-left:auto;margin-right:auto">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#" [routerLink]="['/']">Home</a></li>
    <li class="breadcrumb-item active"><a href="#" [routerLink]="['/charts']">Charts</a></li>
  </ol>
  <div class="jumbotron">

    <div class="row col-md-12">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <h4>Line Chart:</h4>
        <canvas width="400" height="400" id="lineChart"></canvas>
      </div>
      <div class="col-md-4">
        <h4>Bar Chart:</h4>
        <canvas width="400" height="400" id="barChart"></canvas>
      </div>
      <div class="col-md-2"></div>
    </div>


    <div class="row col-md-12">
      <hr />
    </div>

    <div class="row col-md-12">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <h4>Pie Chart:</h4>
        <canvas width="400" height="400" id="pieChart"></canvas>
      </div>
      <div class="col-md-4">
        <h4>Doughnut Chart:</h4>
        <canvas width="400" height="400" id="donutChart"></canvas>
      </div>
      <div class="col-md-2"></div>

    </div>

  </div>
</div>
