<div class="mainContent" style="margin-left:auto;margin-right:auto">

    <div class="jumbotron">
        <div>
            <h1>Blog</h1>
        </div>

        <div class="col-md-12 text-right">
            <a href="" [routerLink]="['/blog/create']">New Article</a>
        </div>

        <div class="card border-info mb-3" *ngFor="let blog of blogs">
            <div class="card-header  text-right"> <a href="/blog/{{blog._id.toString()}}">{{blog.createdAt}}</a></div>
            <div class="card-body">
                <h4 class="card-title"><a href="/blog/{{blog._id.toString()}}">{{blog.title}}</a></h4>
                <p class="card-text">by: <strong>{{blog.user.fullname}}</strong></p>
                <p class="card-text">
                    {{blog.caption}}</p>
                <div class="float-right">
                    <a href="/blog/{{blog._id.toString()}}">Read More...</a>
                </div>
            </div>
        </div>
    </div>
</div>

